#leaderBoardWrapper {
    background-color: #0D1B1E;
    color: white; 
    height: 100%;
}

.leaderRow {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    width: 50%;
    border-color: #FFD3BA;
    border-width: 2px;
    margin-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
}

.leaderName {
    display: flex; 
    align-items: center;
    column-gap: 10px;
}

#leader0 {
    border-color: #c01010;
    width: 60%;
}

#leader1 {
    border-color: #d9643f;
    width: 55%;
}

#leader2 {
    border-color: #ee9d78;
    width: 53%;
}
